# python
__pycache__
ckpt/__pycache__
dataset/__pycache__
model/__pycache__
utils/__pycache__

# mac osX
.DS_Store
ckpt/.DS_Store
dataset/.DS_Store
model/.DS_Store
utils/.DS_Store

# train
ckpt/saraga-8/
ckpt/saraga-8.json
log

# test sample
sample
output

# testing stuff for paper
testing_files/

# wip for faster, cleaner, and better execution
evaluate.py